## create a set

In [2]:
A={1,2,3}
R={5,6,7}
print(A)
print(R)

{1, 2, 3}
{5, 6, 7}

## add an element to the set

In [3]:
A={1,3,2,4}
A.add(5)
A

{1, 2, 3, 4, 5}

## to create an intersection to a set

In [8]:
A={"best", "friend"}
R={"sky", "best"}
C= (A & R)
C

{'best'}

## to create a union to a set

In [9]:
A={"best", "friend"}
R={"sky", "best"}
C= (A | R)
C

{'best', 'friend', 'sky'}

## to clear a set

In [14]:
A={"best", "friend"}
B=A.copy()
B

{'best', 'friend'}

In [15]:
B.clear()
B

set()

## to issubset and issuperset

## to create an empty set

In [16]:
set1={}
set1

{}

In [21]:
##adding element
set1={1,2,3}
set1.add(1)
set1.add(1000)
set1.add("apple")
set1.add("$")
set1

{'$', 1, 1000, 2, 3, 'apple'}

In [23]:
## update
set1.update(["c","xyz","1.08"])
set1

{'$', 1, '1.08', 1000, 2, 3, 'apple', 'c', 'xyz'}

In [27]:
## length of a set
X=len(set1)
X

9

In [28]:
##remove element
set1.remove("c")
set1

{'$', 1, '1.08', 1000, 2, 3, 'apple', 'xyz'}

In [30]:
##pop element
y=set1.pop()
y

2

In [32]:
##clear a set
set1.clear()
set1

set()

In [36]:
del set1()
set1

SyntaxError: can't delete function call (<ipython-input-36-dd20c1ea4850>, line 1)

In [1]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s3=s1.union(s2)
s3

{1, 2, 3, 4, 'a', 'b', 'c', 'e'}

In [2]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s3=s1.intersection(s2)
s3

{'a', 'b', 'c'}

In [3]:
##difference
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s3=s1.difference(s2)
s3

{'e'}

In [17]:
##symmetric difference
s3=s1.intersection(s2)
s3=s1.symmetric_difference(s2)
s3

{1, 2, 3, 4, 'e'}

In [5]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s2.issubset(s1)

False

In [10]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s1.issuperset(s1)

True

In [13]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s1.update(s2)
s2

{1, 2, 3, 4, 'a', 'b', 'c'}